@font-face {
    font-family: 'Pacifico';
    src: url('/fonts/Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont.ttf');
}

.username {
    font-weight: 700;
    color: #FFF;
}

.locationTimePosted {
    font-weight: 400;
    color: #FFF;
}

.unFollow {
    font-weight: 700;
    color: #FFF;
}

.likes {
    font-weight: 500;
    color: #FFF;
}

.comment {
    font-weight: 600;
    color: #FFF;
}

.viewComments {
    font-weight: 400;
    color: #FFF7EF99;
}

.usernameSuggestedHeader {
    font-weight: 600;
    color: #000;
}

.suggestedHeader {
    font-weight: 700;
    color: #00000099;
}

.seeAllSuggested {
    font-weight: 700;
    color: #000;
    cursor: pointer;
}